@model IEnumerable<ProjektCRUD20510.Models.Testy_Fiszki>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Testy_Fiszki">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Test)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiszka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Test.NazwaTestu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiszka.Nazwa_ENGLISH)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Testy_Fiszki" asp-route-id_testu="@item.Id_Testu" asp-route-id_fiszki="@item.Id_Fiszki">Edit</a> |
                    <a asp-action="Details" asp-controller="Testy_Fiszki" asp-route-id_testu="@item.Id_Testu" asp-route-id_fiszki="@item.Id_Fiszki">Details</a> |
                    <a asp-action="Delete" asp-controller="Testy_Fiszki" asp-route-id_testu="@item.Id_Testu" asp-route-id_fiszki="@item.Id_Fiszki">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>